# binaries
*.exe
__pycache__
target
# for testing
mytest*
# for homework
*.*.cpp
*-*.txt
# for lesson
for_lesson*
# IDEs and editors
.vscode
.idea
clangd
# meson files
.wraplock
subprojects/*-*
subprojects/packagecache
subprojects/meval
