name: CI-CXX

on:
  workflow_dispatch:
  push:
    paths: ["**.c*", "**.h*", "**/cxx.yml", "meson.build", "dad-is-great-in-C/meson.build"]
  pull_request:
    paths: ["**.c*", "**.h*", "**/cxx.yml", "meson.build", "dad-is-great-in-C/meson.build"]

jobs:
  build:
    name: build
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    strategy:
      fail-fast: false
      matrix:
        sys:
          - clang64
          - ucrt64
    steps:
      - uses: actions/checkout@v6
      - uses: msys2/setup-msys2@v2
        with:
          update: true
          msystem: ${{ matrix.sys }}
          pacboy: >-
            cc
            meson
      - name: compile files
        run: |
          meson setup -Dbuild_c_cpp=true build
          meson compile -C build
      - name: run speedometers
        run: |
          time ./build/dad-is-great-in-C/speedometer
          time ./build/dad-is-great-in-C/speedometer++
      - name: check format
        if: ${{ matrix.sys == 'clang64' }}
        run: |
          cd dad-is-great-in-C
          clang-format -Werror --dry-run *.c* *.h*
